@import "../../sass/variables.scss";
@import "../../sass/typography.scss";
.reset-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.label {
  color: $text-color-primary;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
